NameVirtualHost *:80

{% for vhost in apache_vhosts %}
<VirtualHost *:80>
  ServerName {{ vhost.servername }}
  DocumentRoot {{ documentroot }}
  ServerAdmin {% if serveradmin %}{{ serveradmin }}{% endif %}
  <Directory "{{ directorypath }}">
     AllowOverride All
     Options Indexes FollowSymLinks
     Order allow,deny
     Allow from all
  </Directory>
</VirtualHost>
{% endfor %}
